:root {
  --header-height: 5rem;
  --background-color: #000000;
  --secondary-background-color: #232323;
  --secondary-color: #00ffb2;
  --pink-color: #ef7b74;
  --yellow-color: #FCF666;
  --text-color: #ffffff;
  --prim-color: #7c9bb3;
  --border-radius: 10px;
  --animation-duration: 300ms;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--text-color);
  background-color: var(--background-color);
}

a {
  color: inherit;
  text-decoration: none;
}