.main {
  --page-padding-x: 2rem;
  --max-width: 1000px; // default

  @media screen and (max-width: 1024px) {
    // desktop
    --max-width: calc(100% - 2 * var(--page-padding-x));
  }

  @media screen and (max-width: 768px) {
    // tablet
    --max-width: 450px;
  }

  @media screen and (max-width: 480px) {
    // mobile
    --max-width: 300px;
    --page-padding-x: 1rem;
  }
}

button.connectWallet {
  background-color: var(--text-color);
  color: var(--background-color);
  border-radius: 100rem;
  border: 2px solid var(--prim-color);
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem;

  @media screen and (max-width: 768px) {
    margin: 0 auto;
    padding: 0.5rem 1rem;
  }

  &:disabled{
    opacity: 0.5;
  }
}

.Container {
  padding-top: var(--header-height);
  min-height: calc(100% - var(--header-height));
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  padding-bottom: 10rem;
}

.Card {
  background-color: var(--secondary-background-color);
  border-radius: 10px;
  border: 2px solid var(--prim-color);
  padding: 2rem 1rem;
  margin-bottom: 3rem;
}

.comingSoon {
  margin: 4rem 3rem;
  text-align: center;

  p {
    margin-bottom: 0;
  }
}

.cover {
  width: 100%;
}

.politics {
  transition-duration: var(--animation-duration);
  overflow: hidden;
  height: auto;
  position: relative;
  --sidebar-width: 40px;

  @media screen and (max-width: 768px) {
    --sidebar-width: 60px;
  }

}

.politicsTable {
  display: flex;
  position: relative;
  margin-left: var(--sidebar-width);
}


.politicsCollapsed {
  height: 400px;

  .politicsCollapsedOverlaySidebar {
    position: absolute;
    left: 0;
    top: 300px;
    height: 100px;
    text-align: center;
    padding-top: 3rem;
    font-size: 1.5rem;
    width: 100%;
    z-index: 1;
    background: linear-gradient(0deg, rgba(124, 155, 179, 0.80) 27.37%, rgba(217, 217, 217, 0.00) 100%);
  }

  .politicsCollapsedOverlay {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: var(--sidebar-width);
    height: 100px;
    text-align: center;
    padding-top: 3rem;
    padding-right: var(--sidebar-width);
    font-size: 1.5rem;
    right: 0;
    z-index: 1;
    background: linear-gradient(0deg, rgba(124, 155, 179, 0.80) 27.37%, rgba(217, 217, 217, 0.00) 100%);
  }
}

.politicsSidebar {
  height: 100%;
  width: auto;
  position: absolute;
  top: 0;
  display: block;
  left: 0;
  transform: translateX(-100%);

  img {
    height: 100%;
    display: block;
  }
}

.swiper {
  width: 100%;
  height: 100%;

}

.politicTable {
  width: 100%;
  display: block;
}

.rules {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .rule {
    border: var(--prim-color) 2px solid;
    display: flex;
  }

  p {
    margin: 0;
    background-color: var(--prim-color);
    width: 2.5rem;
    padding: 0.75rem;
    line-height: 1.5rem;
  }

  ul {
    align-self: center;
  }
}

.steps {
  border: var(--prim-color) 2px solid;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 50px 1fr 50px 1fr 50px 1fr;
  padding: 2rem 0;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  p {
    margin-bottom: 0;
    text-align: center;
  }

  .arrow {
    width: 50px;
    height: 50px;

    align-self: center;
    justify-self: center;

    @media screen and (max-width: 768px) {
      transform: rotateZ(90deg);

    }
  }

  .step {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }

  .stepImage {
    width: 80px;
    height: 80px;
    display: block;

  }

  small{
    color: var(--prim-color);
  }
}

.candidates {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  .CandidateCard {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;

    hr {
      width: 100%;
      height: 1px;
      background-color: var(--text-color);
      border: 0px solid transparent;
      opacity: 0.5;
      margin: 2rem 0;
    }

    .index {
      width: 10%;
      font-size: 2rem;
      color: var(--secondary-color);
    }

    .media {
      // width: 30%;

      img {
        width: 100%;
        text-align: center;
      }
    }

    .name {
      font-size: 1.5em;
    }

    .dao {
      font-size: 1.2em;
      height: 5rem;
    }

    @media screen and (max-width: 768px) {

      .index {
        width: 30%;
      }

      .media {
        width: 70%;
      }

      .info {
        width: 100%;

      }
    }

    .vote {
      text-align: center;
      border-radius: 0.25rem;
      border: 2px solid var(--yellow-color);
      padding: 0 1rem;
      color: var(--yellow-color);
    }

    button {
      --prim-color: var(--pink-color);
      width: 3rem;
      border-radius: 0.25rem;
      font-weight: bold;
      padding: 0.25rem;
      transition-duration: var(--animation-duration);

      &:hover {
        color: var(--secondary-color);
        background-color: var(--secondary-background-color);
      }

      &:disabled {
        --prim-color: #454545;
      }
    }
  }
}